.grid {
  
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 400px 400px 100px;

}

.square {
 height: 200px;
 width: 200px;
 border: solid black 1px;
}

.mole {
  background-image: url('fish.JPG');
  background-size: cover;
}

.game-header {
  align-items: center;
}